<div class="main">
    <div class="form">
        <img src="/assets/logo.png" alt="">
        <h1 class="roboto-bold">Bienvenido</h1>
        <p>Por favor ingresa tus datos</p>
        <div class="container-form">
            <div class="input">
                <small>Email</small>
                <input type="email" placeholder="example@izzi.mx">
            </div>
            <div class="input">
                <small>Password</small>
                <input type="password" placeholder="************">
            </div>
            <div class="btn">
                <a href="">Iniciar Sesión</a>
            </div>
        </div>
    </div>
    <div>  
    </div>
</div>
