<div class="table">
    <table>
        <tr>
            <th>Id técnico</th>
            <th>Nombre</th>
            <th>Región</th>
            <th>Perfil</th>
            <th>Activo</th>
            <th>Login APP</th>
            <th>Detalle</th>
        </tr>
        <tbody>
            <tr>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>                
            </tr> 
        </tbody>
    </table>
</div>
